.nav-container {
	background-color: #2a3f54;
	height: 100vh;
}

.brand {
	color: rgb(250, 250, 250);
	text-align: center;
	text-transform: uppercase;
}

.links {
	list-style: none;
	text-align: left;
	display: inline;
}

.links li {
	margin: 15px 5px;
	height: 20px;
}

.links a {
	color: rgb(250, 250, 250);
	text-decoration: none;
	font-weight: 300;
	font-size: 18px;
}

.links .fa-caret-down {
	margin-left: 10px;
}
